		@charset "utf-8";
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body {
			overflow-x: hidden;
		  background:linear-gradient(141deg, #c2bdb1 0%, #f2f2e7 100%);
			background-color: white;
			margin: 0;
			padding: 0;
		}

		p {
			line-height: 36px;
			text-align: left;
			width: 900px;
			margin: 0 auto;
			font-family: '微软雅黑';
			font-weight: normal;
			letter-spacing: 2px;
			font-size: 18px;
			color: #736041;
			text-indent: 2.2em;
			transition: all ease 1s;
		}

		img:hover {
			cursor: pointer;
			filter: brightness(1.03);
		}

		a {
			text-decoration: none;
		}

		.cent {
			position: absolute;
			width: 1920px;
			left: 50%;
			top: 0;
			margin-left: -960px;
			z-index: 0
		}

		.wrap {
			min-width: 1440px;
			position: relative;
		}

		*::selection {
			background: rgba(241, 220, 166, 0.22)
		}


		.title {
			font-family: '微软雅黑';
			text-align: center;
			font-size: 30px;
			color: #726851
		}
		.info{
			width: 800px;
			position: relative;
			margin: 30px auto;
			text-align:center;
			letter-spacing: 3px;
		}
		.home{
			width: 100px;
			height: 100px;
			background: url(../image/back.png) no-repeat;
			position: absolute;
			transition: all ease 1s;
		}
		.home:hover{
			transform: scaleX(1.2) translate(8px ,0);
		}
		.banner{
			position: relative;
			width: 400px;
			margin:20px auto;

		}
		.banner img{
				border-radius: 20px;
				box-shadow:0 10px 10px 1px rgba(0, 0, 0, 0.17);
				opacity: .8
		}
		.articulo-contenido{
			background: url(../image/water.png) no-repeat;
			background-position: bottom center;
			padding-bottom: 70px;
			    background-size: 100%;
		}
		.cloud{
			position: absolute;
			right: 0;
			top: -21px;
			background: url(../image/cloud.png) no-repeat;
			width: 400px;
			height: 220px;

		}