.canvas-outer {
	margin:auto;
	background:linear-gradient(to bottom,#a7f1ff,#f1feff 50%);
	border-radius:50%;
	width:564px;
	height:564px;
	position:relative;
	top:50vh;
	left:50vw;
	transform: scale(1.3);
	margin-top:-267px;
	margin-left:-267px;
}
#canvas {
	border-radius:500px;
	position:absolute;
}
#canvas2 {
	position:absolute;
	top:100px;
	left:100px;
	top:0;
	z-index: 9000
}
.body {
	height:100vh;
	width:100vw;
	position:absolute;
	margin: 0 auto;
	top:0;
	left:0;
	z-index: -1000;
	background:linear-gradient(to bottom,#a7f1ff,#f1feff 50%);
}
/*<div class="body">
    <div class="canvas-outer">
        <canvas id="canvas2" width="300" height="564"></canvas>
        <canvas id="canvas" width="564" height="564"></canvas>
    </div>
</div>*/